@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.App {
  font-family: 'Muli', sans-serif;
}

.container{
  height: auto;
}

.fa-heart-red{
  color:red;
}

.ProductsList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: end;
}


.hide {
  opacity: 0;
  transition: opacity .4s ease-in-out;
}
.show {
  opacity: 1;
  transition: opacity .4s ease-in-out;
  left: 0;
}

.card{
  display: flex;
  width: 100%;
  flex: 0 0 30%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-img-top{
  object-fit: cover;
  width: 100%;
  height: 200px;

}

.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-photo{
  width: 100%;
}

.SearchBar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .SearchBar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .SearchBar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  }

  .login{
    height: 100vh;
  }

  .ProductForm {
    margin: 100px;
  }

    .footer{
      background-color: #0A2C42;
      color: #fff;
  
  }

@media (max-width: 1200px) and (min-width: 800px) {
  .ProductsList {
    flex-direction: row;
  }
  
}

@media (max-width: 800px) {
  .ProductsList {
    flex-direction: column;
  }
  .card-img-top{
    object-fit: cover;
    width: 100%;
    height: 350px;
  
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
